*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    background-color: #ccc;
}
.one{
    position: absolute;
    height: 197px;
    width: 197px;
    background-color: #f18203;
    text-align: center;
    top: 0;
    left: 0;
}
/* Z-index of div with class="two" is highest so it will show on the top of the others */
.two{
    position: absolute;
    height: 197px;
    width: 197px;
    background-color: #ffffff;
    text-align: center;
    left: 100px;
    top: 100px;
    z-index: 1;
}
.three{
    position: absolute;
    height: 197px;
    width: 197px;
    background-color: rgb(21, 145, 9);
    text-align: center;
    left: 200px;
    top: 200px;
}